@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/_Layout.cshtml";
}

@section Header{

    <div id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @*   bu satır küçük çaplı sadırılara karşı koruma sağlar *@
                <div class="form-horizontal">
                    <h4>Uye Sayfasi</h4>
                    <hr />
                   

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

                }
            </div>
        </div>
    </div>
}
