
@{
    ViewBag.Title = "Profil";
}
  
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" style="position:absolute; right:50px; top:100px" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profil
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
            </div>
   
    
